﻿.container {
    display: block;    
    margin: auto;
    border: 5px solid transparent;
    border-radius: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000;
    width: 1000px;
    height: auto;
}



.form-group {
    text-align: center;
}
